## SÃ©paration des chaÃ®nes de caractÃ¨res

In [8]:
import re

phrase = "LycÃ©e Charles Carnus"
print("Phrase originale :",phrase)

mots = re.split("[ ]+", phrase)
print(mots)
print(mots[0])
print(mots[1])
print(mots[2])

Phrase originale : LycÃ©e Charles Carnus
['LycÃ©e', 'Charles', 'Carnus']
LycÃ©e
Charles
Carnus

In [13]:
import re

date = "17/12/2024"
print("Date originale :",date)

donnees = re.split("[/]+", date)
print(chiffres)
print("Jour :",donnees[0])
print(type(donnees[0]))
print("Mois :",donnees[1])
print(type(donnees[1]))
print("AnnÃ©e :",donnees[2])
print(type(donnees[2]))

Date originale : 17/12/2024
['17', '12', '2024']
Jour : 17
<class 'str'>
Mois : 12
<class 'str'>
AnnÃ©e : 2024
<class 'str'>

In [11]:
import re

date = "17/12/2024"
print("Date originale :",date)

donnees = re.split("[/]+", date)
print(chiffres)
print("Jour :",donnees[0])
print("Mois :",donnees[1])
print("AnnÃ©e :",donnees[2])

jour = float(donnees[0])
mois = float(donnees[1])
annee = float(donnees[2])
print(jour)
print(type(jour))
print(mois)
print(type(mois))
print(annee)
print(type(annee))

Date originale : 17/12/2024
['17', '12', '2024']
Jour : 17
Mois : 12
AnnÃ©e : 2024
17.0
<class 'float'>
12.0
<class 'float'>
2024.0
<class 'float'>

## ConcatÃ©nation de chaÃ®nes de caractÃ¨res

In [24]:
import re
mot1 = "Charles"
mot2 = "Carnus"
nom1 = mot1 + mot2
print(nom1)
nom2 = mot1 + " " + mot2
print(nom2)
nom3 = mot1 + "-" + mot2
print(nom3)

CharlesCarnus
Charles Carnus
Charles-Carnus

## CrÃ©ation d'une trame Ã  partir de donnÃ©es

In [16]:
adresse_ip = "http://192.168.0.2"
prog_exe   = "/insert_temp.php"
donnee = "?temperature=18.5"
trame = adresse_ip + prog_exe + donnee
print(trame)

http://192.168.0.2/insert_temp.php?temperature=18.5

---
## Exercice
CrÃ©er et afficher la trame suivante :

`https://carnus.fr/post-esp-data.php?api=tPiRcTemp5C24j2M12&capteur=DHT11&localisation=Salle215&valeur1=18.9&valeur2=76&valeur3=5.4`

---
## Extraction des donnÃ©es Ã  partir d'une trame

In [37]:
import re

trame = "http://192.168.0.2/insert_temp.php?temperature=18.5"
print("Trame originale :",trame)


liste1 = re.split("[?]+", trame)
print("liste1 :",liste1)
liste2 = re.split("[=]+", trame)
print("liste2 :",liste2)
temp = float(liste2[1])
print("La valeur de la tempÃ©rature est :",temp)
print("La tempÃ©rature est de type :",type(temp))

print("IP :",trame.split("/")[2])

debut, x, donnees = trame.partition("?")
print(debut)
print(x)
print(donnees)

Trame originale : http://192.168.0.2/insert_temp.php?temperature=18.5
liste1 : ['http://192.168.0.2/insert_temp.php', 'temperature=18.5']
liste2 : ['http://192.168.0.2/insert_temp.php?temperature', '18.5']
La valeur de la tempÃ©rature est : 18.5
La tempÃ©rature est de type : <class 'float'>
IP : 192.168.0.2
http://192.168.0.2/insert_temp.php
?
temperature=18.5

In [65]:
import re
import numpy as np

trame = "http://192.168.0.2/insert_temp.php?api=tPiRcTemp5C24j2M12&temperature=18.5"
print("Trame originale :",trame)

liste = re.split("[?]+", trame)
print("liste :",liste)
listeUtile = liste[1]
print("liste utile :",listeUtile)

print("")

contenu = re.split("[&]+", listeUtile)
print("Le contenu :",contenu)
print(type(contenu))

print("")

cont1 = re.split("[=]+", contenu[0])
print(cont1)
print(cont1[0])
print(cont1[1])

print("")

cont2 = re.split("[=]+", contenu[1])
print(cont2)
print(cont2[0])
print(cont2[1])

Trame originale : http://192.168.0.2/insert_temp.php?api=tPiRcTemp5C24j2M12&temperature=18.5
liste : ['http://192.168.0.2/insert_temp.php', 'api=tPiRcTemp5C24j2M12&temperature=18.5']
liste utile : api=tPiRcTemp5C24j2M12&temperature=18.5

Le contenu : ['api=tPiRcTemp5C24j2M12', 'temperature=18.5']
<class 'list'>

['api', 'tPiRcTemp5C24j2M12']
api
tPiRcTemp5C24j2M12

['temperature', '18.5']
temperature
18.5

---
## Exercice

A partir de cette trame : \
`https://api.openweathermap.org/data/2.5/forecast?lat=44.35&lon=2.57&appid=f3232c425c56a24174dd4afc5528a&lang=fr&units=metric`

Extraire les informations suivantes :
- Le site internet de l'application
- La latitude
- La longitude
- Le systÃ¨me d'unitÃ© utilisÃ©
- La langue d'affichage

---
## Exercice

Le code PHP Ã  exÃ©cuter se trouve dans un rÃ©pertoire dÃ©fini comme suit :


```
ðŸ“¦ XAMPP
â”— ðŸ“‚ htdocs
   â”— ðŸ“‚ Domotique
      â”£ ðŸ“œ acquisition.php
      â”£ ðŸ“œ config.php
      â”£ ðŸ“‚ sty
      â”ƒ  â”— ðŸ“œ style.css
      â”£ ðŸ“‚ img
      â”ƒ  â”£ ðŸ–¼ img1.png
      â”ƒ  â”— ðŸ–¼ img2.jpg
      â”£ ðŸ“‚ sql
      â”—  â”— ðŸ“œ bdd.sql
```

CrÃ©er une trame Ã  partir des donnÃ©es suivantes :

- code : acquisition.php
- capteur nÂ° : 1, valeur : 2.25
- capteur nÂ° : 2, valeur : -5.3